@media (min-width: 320px) {
    .input input {
        width: 300px;
    }

    .title {
        font-size: 35px;
    }

    .result {
        font-size: 45px;
    }

    .errors {
        font-family: $primary-font;
        font-size: 11px;
    }

}

@media (min-width: 576px) {
    .input input {
        width: 500px;
    }

    .title, .result {
        font-size: 70px;
    }

    .errors {
        font-family: $primary-font;
        font-size: 11px;
    }
}

@media (min-width: 768px) {
    .input input {
        width: 500px;
    }

    .title, .result {
        font-size: 70px;
    }

    .errors {
        font-family: $primary-font;
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    .input input {
        width: 500px;
    }

    .title, .result {
        font-size: 70px;
    }

    .errors {
        font-family: $primary-font;
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .input input {
        width: 500px;
    }

    .title, .result {
        font-size: 70px;
    }

    .errors {
        font-family: $primary-font;
        font-size: 13px;
    }
}
