<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="F.L.A.M.E.S - Love Calculator">
    <meta property="og:description" content="Love Calculator">
    <meta property="og:image" content="{{ url_for('static', filename='img/preview.png') }}" />
    <meta property="twitter:title" content="F.L.A.M.E.S - Love Calculator">
    <meta property="twitter:description" content="Love Calculator">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/preview.png') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="Love Calculator">
    <meta name="author" content="Richard Santiago">
    <meta name="copyright" content="Richard Santiago" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frame.css') }}">

    <title>F.L.A.M.E.S - Love Calculator</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">

    <!-- Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

</head>
<body>
    <div class="bod">
        <header>
            <div class="container text-center">
    
                <div class="logo-container">
                    <a href="{{ url_for( 'home' ) }}">
                    <img onclick="location.href='./'" class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
                    </a>
                </div>

            </div>
        </header>

        {% block body %}{% endblock %}
        <section m-t3>
            <div class="container-content text-center pd-t2">
                <p class="sub-title">By: Chad</p>
                <a target="_blank" href="https://github.com/chadsantiago/Flames"><p class="sub-title"><i class="fab fa-github"></i></p></a>
            </div>
        </section>
    </div>
    
</body>
</html>